{% extends "layouts/basic.html" %}

{% block title %}{{ current_department.department_name }}{% endblock %}

{% block content %}
<div class="dep-name">
	<h2>Отдел: {{current_department.department_name}}</h2>
</div>
{% for item in store %}
<div class="store_item">
    <a href="{% url 'product_description' item.prod_url %}"><div class="item-main-prop"><img src="../../../media/{{ item.prod_img }}" alt="No photo"></div></a>
    <div class="item-main-prop pr-title">{{ item.prod_title }}</div>
    <div class="item-main-prop"><strong>Тип:</strong> {{ item.prod_type }}</div>
    <div class="item-main-prop"><strong>Материалы:</strong> {{ item.prod_materials }}</div>
    <div class="item-main-prop"><strong>Наличие:</strong> {{ item.print_availability }}</div>
    <div class="item-main-prop"><strong>Цена: </strong> <span class="price">{{ item.prod_updated_price }} UAH</span> </div>
    <a href="{% url 'product_description' item.prod_url %}"><div class="prod-description-btn item-main-prop"><strong>О товаре</strong></div></a>
    <div class="buy-analog-block">
    	<a href=""><div class="buy-btn"><strong>Купить</strong></div></a>
    	<a href="{{ item.prod_analog }}"><div class="analog-btn"><strong>Аналог</strong></div></a>
	</div>
</div>
{% endfor %}
{% endblock %}