{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
        <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
        <title>{% block title %}Музкаталог{% endblock %}</title>
    </head>
    <body>
        <header id="get-your-ass-back-here">
            <h1>Музкаталог</h1>
        </header>
        <section id="center-content">
            <div id="nav-content">
                <nav>
                    <a href="{% url 'index' %}">Все товары</a>
                    <hr>
                    {% for department in departments %}
                    <a href="{% url 'by_department' department.pk %}">{{ department.department_name }}</a>
                    {% endfor %}
                    <hr>
                    <a href="">Login</a>
                    <a href="">Корзина</a>
                </nav>
                <section id="main-content">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </section>
        <a href="#get-your-ass-back-here"><div class="anchor"></div></a>
    </body>
</html>