@import url("nav.css");
@import url("maincontent.css");
@import url("header.css");
@import url("prod_description.css");

body{
	background-color: #1C3748;
	color: #cd2418;
	font-family: montserratregular, Arial, sans-serif, Roboto;
	font-size: 14px;
}